@using Bgg.Net.Common.RequestHandlers.Collection
@using Bgg.Net.Common.RequestHandlers.Things
@using Bgg.Net.Web.Components;
@inject ICollectionHandler _collectionHandler
@inject IThingHandler _thingHandler
@page "/collection"

<h3>Collection</h3>

<label>Number of Items: @Collection?.Count</label>


@if (Collection == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var item in Collection)
            {
                <CollectionItemCard Item="@item"/>
            }
        </div>
    </div>
}

