@using Bgg.Net.Common.RequestHandlers.Forums
@using Dgi.Client.Clients
@inject ForumListHandler _forumListHandler
@inject ForumHandler _forumHandler
@inject BggClient _bggClient;

@if (ForumList == null)
{
    <LoadingComponent />
}
else
{
    @foreach (var forum in ForumList.Forums)
    {
        <p>Forum: @forum.Title Description @forum.Description</p>
    }
}