@using Bgg.Net.Common.RequestHandlers.Collection
@using Bgg.Net.Common.RequestHandlers.Things
@using Bgg.Net.Web.Client.Components.PageComponents.Collection;
@using Bgg.Net.Web.Client.Models;
@using Bgg.Net.Web.Client.Components;
@using Bgg.Net.Web.Client.Components.PageComponents;
@inject ICollectionHandler _collectionHandler
@inject IThingHandler _thingHandler
@inject ILogger _logger
@inject AppState _appState
@page "/collection"

<h3>Collection</h3>

<label>Number of Items: @Collection?.Count</label>


@if (Collection == null)
{
    <LoadingComponent/>
}
else
{
    <div class="container">
        <div class="row">
            @foreach (var item in Collection)
            {
                <CollectionItemCard Item="@item"/>
            }
        </div>
    </div>
}
